<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <filter>
    <filter-name>SetEncodingCharacterFilter</filter-name>
    <filter-class>com.ego.filter.SetEncodingCharacterFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SetEncodingCharacterFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>MemberRegist</servlet-name>
    <servlet-class>com.ego.servlet.MemberRegist</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DisableMember</servlet-name>
    <servlet-class>com.ego.servlet.DisableMember</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EnableMember</servlet-name>
    <servlet-class>com.ego.servlet.EnableMember</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>com.ego.servlet.LoginCheck</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifyMember</servlet-name>
    <servlet-class>com.ego.servlet.ModifyMember</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Admin_LoginCheck</servlet-name>
    <servlet-class>com.ego.servlet.Admin_LoginCheck</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddSecondCategory</servlet-name>
    <servlet-class>com.ego.servlet.AddSecondCategory</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelSecondCategory</servlet-name>
    <servlet-class>com.ego.servlet.DelSecondCategory</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModSecondCategory</servlet-name>
    <servlet-class>com.ego.servlet.ModSecondCategory</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddCommodity</servlet-name>
    <servlet-class>com.ego.servlet.AddCommodity</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelCommodity</servlet-name>
    <servlet-class>com.ego.servlet.DelCommodity</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModCommodity</servlet-name>
    <servlet-class>com.ego.servlet.ModCommodity</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddAdmin</servlet-name>
    <servlet-class>com.ego.servlet.AddAdmin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelAdmin</servlet-name>
    <servlet-class>com.ego.servlet.DelAdmin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModAdmin</servlet-name>
    <servlet-class>com.ego.servlet.ModAdmin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddAddress</servlet-name>
    <servlet-class>com.ego.servlet.AddAddressInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModAddressInfo</servlet-name>
    <servlet-class>com.ego.servlet.ModAddressInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelAddressInfo</servlet-name>
    <servlet-class>com.ego.servlet.DelAddressInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReCharge</servlet-name>
    <servlet-class>com.ego.servlet.ReCharge</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModAmountInCart</servlet-name>
    <servlet-class>com.ego.servlet.ModAmountInCart</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GenerateOrder</servlet-name>
    <servlet-class>com.ego.servlet.GenerateOrder</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Pay</servlet-name>
    <servlet-class>com.ego.servlet.Pay</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BuyDirectly</servlet-name>
    <servlet-class>com.ego.servlet.BuyDirectly</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelOrder</servlet-name>
    <servlet-class>com.ego.servlet.DelOrder</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddNote</servlet-name>
    <servlet-class>com.ego.servlet.AddNote</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Deliver</servlet-name>
    <servlet-class>com.ego.servlet.Deliver</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.ego.servlet.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddMessage</servlet-name>
    <servlet-class>com.ego.servlet.AddMessage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReMessage</servlet-name>
    <servlet-class>com.ego.servlet.ReMessage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelMessage</servlet-name>
    <servlet-class>com.ego.servlet.DelMessage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Admin_Logout</servlet-name>
    <servlet-class>com.ego.servlet.Admin_Logout</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <servlet-class>com.ego.servlet.VerifyCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResultServlet</servlet-name>
    <servlet-class>com.ego.servlet.ResultServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchByCategory</servlet-name>
    <servlet-class>com.ego.servlet.SearchByCategory</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <url-pattern>/VerifyCode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResultServlet</servlet-name>
    <url-pattern>/Result</url-pattern>
  </servlet-mapping>
 <servlet-mapping>
    <servlet-name>AddNote</servlet-name>
    <url-pattern>/addNote</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemberRegist</servlet-name>
    <url-pattern>/memberRegist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DisableMember</servlet-name>
    <url-pattern>/disableMember</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EnableMember</servlet-name>
    <url-pattern>/enableMember</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/loginCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyMember</servlet-name>
    <url-pattern>/modifyMember</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Admin_LoginCheck</servlet-name>
    <url-pattern>/admin_LoginCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddSecondCategory</servlet-name>
    <url-pattern>/addSecondCategory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelSecondCategory</servlet-name>
    <url-pattern>/delSecondCategory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModSecondCategory</servlet-name>
    <url-pattern>/modSecondCategory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCommodity</servlet-name>
    <url-pattern>/addCommodity</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelCommodity</servlet-name>
    <url-pattern>/delCommodity</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModCommodity</servlet-name>
    <url-pattern>/modCommodity</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddAdmin</servlet-name>
    <url-pattern>/addAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelAdmin</servlet-name>
    <url-pattern>/delAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModAdmin</servlet-name>
    <url-pattern>/modAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddAddress</servlet-name>
    <url-pattern>/addAddress</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModAddressInfo</servlet-name>
    <url-pattern>/modAddressInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelAddressInfo</servlet-name>
    <url-pattern>/delAddressInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReCharge</servlet-name>
    <url-pattern>/reCharge</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModAmountInCart</servlet-name>
    <url-pattern>/modAmountInCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GenerateOrder</servlet-name>
    <url-pattern>/generateOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Pay</servlet-name>
    <url-pattern>/pay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BuyDirectly</servlet-name>
    <url-pattern>/buyDirectly</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelOrder</servlet-name>
    <url-pattern>/delOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Deliver</servlet-name>
    <url-pattern>/deliver</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddMessage</servlet-name>
    <url-pattern>/addMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReMessage</servlet-name>
    <url-pattern>/reMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelMessage</servlet-name>
    <url-pattern>/delMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Admin_Logout</servlet-name>
    <url-pattern>/admin_Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchByCategory</servlet-name>
    <url-pattern>/searchByCategory</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <login-config>
    <auth-method>BASIC</auth-method>
  </login-config>
</web-app>